BLOCKINGMODE  NULL|IP-NODATA-AAAA|IP|NXDOMAIN  NULL
CNAME_DEEP_INSPECT  true|false  true
BLOCK_ESNI  true|false  true
EDNS0_ECS  true|false  true
RATE_LIMIT  1000/60
MAXLOGAGE  24.0
PRIVACYLEVEL  0|1|2|3  0
IGNORE_LOCALHOST  no|yes  no
AAAA_QUERY_ANALYSIS  yes|no  yes
ANALYZE_ONLY_A_AND_AAAA  false|true  false
SOCKET_LISTENING  localonly|all  localonly
FTLPORT  4711
RESOLVE_IPV6  yes|no  yes
RESOLVE_IPV4  yes|no  yes
DELAY_STARTUP  0
NICE  -10
MAXNETAGE  [MAXDBDAYS]
NAMES_FROM_NETDB  true|false  true
REFRESH_HOSTNAMES  IPV4|ALL|UNKNOWN|NONE  IPV4
DBIMPORT  yes|no  yes
MAXDBDAYS  365
DBINTERVAL  1.0
DBFILE  /etc/pihole/pihole-FTL.db  
LOGFILE  /var/log/pihole-FTL.log
PIDFILE  /run/pihole-FTL.pid
PORTFILE  /run/pihole-FTL.port
SOCKETFILE  /run/pihole/FTL.sock
SETUPVARSFILE  /etc/pihole/setupVars.conf
MACVENDORDB  /etc/pihole/macvendor.db
GRAVITYDB  /etc/pihole/gravity.db
DEBUG_ALL  false|true  false
DEBUG_DATABASE  false|true  false
DEBUG_NETWORKING  false|true  false
DEBUG_EDNS0  false|true  false
DEBUG_LOCKS  false|true  false
DEBUG_QUERIES  false|true  false
DEBUG_FLAGS  false|true  false
DEBUG_SHMEM  false|true  false
DEBUG_GC  false|true  false
DEBUG_ARP  false|true  false
DEBUG_REGEX  false|true  false
DEBUG_API  false|true  false
DEBUG_OVERTIME  false|true  false
DEBUG_EXTBLOCKED  false|true  false
DEBUG_CAPS  false|true  false
DEBUG_DNSMASQ_LINES  false|true  false
DEBUG_VECTORS  false|true  false
DEBUG_RESOLVER  false|true  false 