<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AlexarDNS</title>
</head>
<body>
    <h1>List of API's</h1>
    <h2><strong>Pihole-FTL DB</strong></h2>
    <ul>
        <li><a href="./api/v1/aliases">Get Aliases</a></li>
        <li><a href="./api/v1/counters">Get Counters</a></li>
        <li><a href="./api/v1/ftl">Get FTL</a></li>
        <li><a href="./api/v1/messages">Get Messages</a></li>
        <li><a href="./api/v1/networks">Get Networks</a></li>
        <li><a href="./api/v1/addresses">Get Network Addresses</a></li>
        <li><a href="./api/v1/queries">Get Queries</a></li>
    </ul>
    <h2><strong>Macvendor DB</strong></h2>
    <ul>
        <li><a href="./api/v1/vendors">Get Vendors</a></li>
    </ul>
    <h2><strong>Gravity DB</strong></h2>
    <ul>
        <li><a href="./api/v1/adlist">Get AdList</a></li>
        <li><a href="./api/v1/adlist/group">Get AdList By Group</a></li>
        <li><a href="./api/v1/clients">Get Clients</a></li>
        <li><a href="./api/v1/clients/group">Get Clients By Group</a></li>
        <li><a href="./api/v1/domain/audit">Get Domain Audit</a></li>
        <li><a href="./api/v1/domains">Get DomainList</a></li>
        <li><a href="./api/v1/domains/group">Get DomainList By Group</a></li>
        <li><a href="./api/v1/gravity">Get Gravity</a></li>
        <li><a href="./api/v1/groups">Get Network Groups</a></li>
        <li><a href="./api/v1/info">Get Info</a></li>
        <li>Get Views
            <ul>
                <li><a href="./api/v1/views/adlist">Get Adlist View</a></li>
                <li><a href="./api/v1/views/blacklist">Get Blacklist View</a></li>
                <li><a href="./api/v1/views/whitelist">Get Whitelist View</a></li>
                <li><a href="./api/v1/views/regex_blacklist">Get Regex Blacklist View</a></li>
                <li><a href="./api/v1/views/regex_whitelist">Get Regex Whitelist View</a></li>
                <li><a href="./api/v1/views/gravity">Get Gravity View</a></li>
            </ul>
        </li>
    </ul>
</body>
</html>